.banner-area{
  background-image: url(Lanterns1.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.frame {
  background-color: black;
  padding:20px;
}
header{
  padding: 15px 60px;
}
.menu{
  width: 42%;
  float: right;
  list-style: none;
  background-color: rgba(255,255,255,.2);
}
.menu li{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  float: left;
  
  
}
.menu li:hover{
  background: firebrick;
  transition: .5s;
}
.menu li:hover a{
  color: white;
  transition: .5s;
}
.menu li a{
  text-decoration: none;
  font-family: baloo;
  color: black; 
  text-transform: uppercase;
  
}
.logo{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: big john;
  margin-top: 20px;
  padding: 10px;
  width: 20%;
  float: left;
  font-weight: bold;
  background-color: rgba(255,255,255,.2);

}
.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  text-align: center;
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 20px;
}
.banner-text h2{
  font-family: baloo;
  margin: 0;
  font-size: 55px;
  color:  firebrick;
  
}
.banner-text p {
  font-size: 22px;
  margin: 0;
  font-family: poppins;
  margin-top: 10px;
  font-weight: bold;
}
.banner-text a{
  text-decoration: none;
  border: 1px solid black;
  font-size: 17px;
  padding: 10px 35px;
  color: black;
  display: inline-block;
  margin-top: 5%;
  font-family: poppins;
  text-transform: uppercase;
}
.banner-text a:hover{
  border-color: firebrick;
  background: firebrick;
  transition: .5s;
  color: white;

}