@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
/* text font and color */
html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* Centers everything */
.container {
  min-height: 100vh;
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Background color */
  background-color:black;
}

.timeline{
  width:80%;
  height: auto;
  max-width:800px;
  position: relative;  
}

/* Removes bulletpoints */
.timeline ul{
  list-style: none;
} 

/* Borders around text */
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color:white;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Last child does not have margin bottom */
.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

/* Properties in the content */
.timeline-content p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

@media only screen and  (min-width: 768px){
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  /* For every odd child, they will be put on the left side,
  opposite for even childs */
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
  }
  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
  }
}